Source: word-count
Section: utils
Priority: optional
Maintainer: Илья Васильев <o715b05@voenmeh.ru>

Package: word-count
Version: 1.0
Architecture: amd64
Depends: g++, libc6 (>= 2.31)
Description: Утилита для подсчета слов в строке.

